header
{
	display: flex;
	text-decoration: none;
}
.element:nth-child(1)
{
	margin: auto;
	width: 120px;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: center;
}
.element:nth-child(2)
{
	margin-right: 0px;
	height: 92;
}